@import "tailwindcss";

@font-face {
  font-family: "Zen Antique";
  src: url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GapyeongHanseokbong";
  src: url("/fonts/GapyeongHanseokbongR.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GapyeongHanseokbong";
  src: url("/fonts/GapyeongHanseokbongB.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --text-basegray: var(--basegray);
  --font-korean: var(--korean);
  --font-chinese: var(--chinese);
}

:root {
  --background: #f3f2ef;
  --foreground: #171717;
  --basegray: #424242;
  --korean: "GapyeongHanseokbong", sans-serif;
  --chinese: "Zen Antique", sans-serif;
}

body {
  background: var(--background);
  color: var(--basegray);
  font-family: var(--korean);
  font-weight: 700;
}
